<!DOCTYPE html>
<html>
<head>
  <title>CfPersons</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="side">
    <%= render "layouts/side" %>
  </div>
<%= yield %>

</body>
</html>
